Clicking a change link on the review page can break E-Signet integration



**Describe the bug**

The esignet authentication is working perfectly fine if you are using a mock and in the normal flow for all the pages. But Uganda report a scenario where it is not working when using the **real E-Signet**

For example: if I am at the review page and now want to change the details of the child let's say, so I will click on change and I will be moved to the child page. 

Now if I revoke the authentication and want to try the esignet auth again, the redirect url that will be sent to esignet this time will be like 

```
https://register.opencrvs-uganda-qa.idencode.link/events/declare/9ec2f85f-b7b4-4479-bd3d-a4edbd96a5de/pages/child?from=review#child____name
```

Note: the URL param related to scrolling to the correct input field on the form is now passed to E-Signet:

**?from=review#child____name**


After the successful auth on esignet when I will be redirected back to opencrvs page, you know that a code is added to the url, so it becomes something like this 

```
https://register.opencrvs-uganda-qa.idencode.link/events/declare/9ec2f85f-b7b4-4479-bd3d-a4edbd96a5de/pages/child?from=review#child____name?state=fetch-on-mount&code=b4HYYY9j8uEpQsXolSBdgRC6zLf97H5QE1iqh6Hb3aw
```

i.e esigent added state and code parameters in the url, but this is url now gives error(because the id #child____name can't be followed with '?', '&' I guess)

<img width="1197" height="669" alt="Image" src="https://github.com/user-attachments/assets/26230d6c-6d2f-4d7c-9340-5c491be4001c" />

**Possible causes**

If you can see the opencrvs side code while we click on esignet first the redirect uri being sent is like this(complete url): https://register.opencrvs-uganda-dev.idencode.link/events/declare/ac9125bc-fc50-4937-8b85-f4c1f517b471/pages/child?from=review#child____name 

this is because in core we are sending the redirect uri as window.location.href. 

But when we pass redirect uri in the token call, we are passing [redirectUri?.split("?")[0]](url) (in the middleware code https://github.com/opencrvs/mosip/blob/main/packages/mosip-api/src/esignet-api.ts#L115)so obviously both are not same and we will not get the token.

## Tech tasks
- [ ] when constructing the redirectUri in the link button, skip the fragment identifier

## Acceptance criteria

After going back to mother/father/informant/spouse page from the review and re-initiating the E-signet flow, the redirectUri should not include the fragment identifiers (e.g. #mother__firstname).

Working fine in Farajaland.  Awaiting more info:

https://www.loom.com/share/c85588bb229f4978bdca2f389a2f1fbf

TF team will need to test a core release branch as part of QA

@euanmillar This works as an hotfix, but the fix we need for 2.0 retains query params for two reasons:

1) OAuth RFC states:

   The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which **MUST be retained** when adding
   additional query parameters.  The endpoint URI **MUST NOT include a
   fragment** component.

https://www.rfc-editor.org/rfc/rfc6749.html#section-3.1.2 

2) Custom actions & E-Signet (https://github.com/opencrvs/opencrvs-core/issues/11216) may require query params to be retained to open up the custom action modal again

